

<?php
  include_once('template.php');

?>
<link href="<?= BASE_URL ?>/public/css/calendar.css?ver=<?php echo filemtime('<?= BASE_URL ?>/public/css/calendar.css');?>" type="text/css" rel="stylesheet">

<div class="row">
  <div class="col-lg-6">
      <h2> Upcoming Events: </h2>
  </div>
  <div class="col-lg-6">
      <form action="<?= BASE_URL ?>/newevent">
      <button id = "addEvent" type="submit" class="btn btn-primary newevent_button">
        Create an Event
      </button>
      </form>
  </div>
</div>




<!-- <link rel="stylesheet" type="text/css" href="<?= BASE_URL ?>/public/css/calendar.css"> -->
<!-- <div class="form-group">
  <label for="exampleSelect1">Month</label>
  <select class="form-control" id="selectMonth" onchange="showEvents()">
    <option value = "1">January</option>
    <option value = "2">February</option>
    <option value = "3">March</option>
    <option value = "4">April</option>
    <option value = "5">May</option>
    <option value = "6">June</option>
    <option value = "7">July</option>
    <option value = "8">August</option>
    <option value = "9">September</option>
    <option value = "10">October</option>
    <option value = "11">November</option>
    <option value = "12">December</option>
  </select> -->
<!-- </div> -->
<!-- Days view -->
<div id = "days">

    <?php
    if($events != null){

    foreach($events as $event){
        $id = $event->get('id');

        $timestamp = $event->get('timestamp');
        $date = Event::convertToReadableDate($timestamp);
        $time = $event->getTime();
        $isPM = $event->isPM();

        $ampm = "am";
        if ($isPM) $ampm = "pm";

        $authorId = $event->get('userId');
        $author = User::loadById($authorId);
        $username = $author->get('username');

        $location = $event->get('location');
        $description = $event->get('description');
        $title = $event->get('title');
        ?>

        <div class="panel panel-primary">
            <div id = "heading" class="panel-heading">
                <h4><?php echo $title ?><span style="float:right;"><?php echo $date ?> at <?php echo $time; echo $ampm ?> in <?php echo $location ?></span></h4>

            </div>
            <div id = "body" class="panel-body"><p><?php echo $description ?></p></div>
            <div id = "footer" class="panel-footer">Posted by: <?php echo $username ?>


                <?php $edit_action = BASE_URL."/editevent/".$id ?>
                <form id="edit_button_form" action=<?php echo $edit_action ?>>
                    <button type="submit" style="border: 0; background: transparent">
                        <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
                    </button>
              </form>
              <div class="clearfix"></div>
          </div>
        </div>

        <?php
            }
        } else {
            ?>
            <p><i> There doesn't seem to be any events coming up. </i></p>
            <?php
        }
        ?>
</div>

<?php
  include_once('templateBottom.php');
?>
