<?php
  include_once('template.php');

?>
<link href="<?= BASE_URL ?>/public/css/calendar.css?ver=<?php echo filemtime('<?= BASE_URL ?>/public/css/calendar.css');?>" type="text/css" rel="stylesheet">
<script src="<?= BASE_URL ?>/public/js/calendarold.js"></script>

<div id = "top" class="row">
  <div class="col-lg-6">
      <h2> Upcoming Events: </h2>
  </div>
  <div class="col-lg-6">
      <form action="<?= BASE_URL ?>/newevent">
      <button id = "addEvent" type="submit" class="btn btn-primary newevent_button">
        Create an Event
      </button>
      </form>
      <form action="<?= BASE_URL ?>/viewpastevents">
      <button id = "pastEvents" type="submit" class="btn btn-primary newevent_button">
          View Past Events
      </button>
      </form>
  </div>
</div>

<hr id = "topbreak"></hr>

<!-- Days view -->
<div id = "days">

    <?php
    if($events != null){

        $current_month = -1;
        $current_year = -1;
        foreach($events as $event){
        $id = $event->get('id');

        $timestamp = $event->get('timestamp');
        $date = Event::convertToReadableDate($timestamp);
        $month = date('m', strtotime($date));
        $year = date('y', strtotime($date));
        $time = $event->getTime();
        $isPM = $event->isPM();

        $ampm = "am";
        if ($isPM) $ampm = "pm";

        $authorId = $event->get('userId');
        $author = User::loadById($authorId);
        $username = $author->get('username');

        $location = $event->get('location');
        $description = $event->get('description');
        $title = $event->get('title');
        ?>

        <?php
            if($current_month != $month || $current_year != $year){
                $current_month = $month;
                $current_year = $year ?>


<h4 id = "Month"><?php echo date('F Y', mktime(0,0,0,$current_month+1,0,$current_year)); ?></h4><hr id = "break"></hr>

            <?php }
        ?>

        <div class="panel panel-primary">
            <div id = "heading" class="panel-heading">
                <h4><?php echo $title ?><span style="float:right;"><?php echo $date ?> at <?php echo $time; echo $ampm?> in <?php echo $location ?></span></h4>

            </div>
            <div id = "body" class="panel-body"><p><?php echo $description ?></p></div>
            <div id = "footer" class="panel-footer">Posted by: <?php echo $username ?>

                <?php
                if($authorId == $_SESSION['userId']){
                    $edit_action = BASE_URL."/editevent/".$id ?>
                <form id="edit_button_form" action=<?php echo $edit_action ?>>
                    <button type="submit" style="border: 0; background: transparent">
                        <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
                    </button>
              </form>
              <?php } ?>
              <div class="clearfix"></div>
          </div>
        </div>

        <?php
    }}
        ?>
    </tbody></table>
</div>

<?php
  include_once('templateBottom.php');
?>
