<?php
  include_once('template.php');
?>

  <script src="<?= BASE_URL ?>/public/js/createGroup.js?ver=<?php echo filemtime('<?= BASE_URL ?>/public/js/createGroup.js');?>"></script>

		<form method="POST" action="<?= BASE_URL ?>/newgroup_submit" class="form-group">
      <input type="hidden" name="checkBox" value="0" />
			<label class="checkbox"><input id="isClassCB" name="checkBox" type="checkbox" value="1">Is this a Class?</label>

            <!-- This will be visible if the checkbox is selected -->
          <label>Enter CRN:</label>
			<input id="CRNform" class="form-control" type="text" name="crn" disabled><br/>
      <input class="hidden" name="number" type="text"></input>

            <!-- This will be visible if the checkbox is NOT selected (autofilled if it is a CRN) -->
            <label>Enter New Group Name:</label>
			<input id="groupform" class="form-control" type="text" name="groupName"><br/>


		<!-- <div class="col-lg-2" style="text-align: center;"> -->

			<a href="base.html">
				<button id = "button" type="submit" class="btn btn-primary">
					Create group
				</button>
			</a>
    </form>
		<!-- </div> -->

<?php
  include_once('templateBottom.php');
?>
