<?php
  include_once('template.php');

?>
<link href="<?= BASE_URL ?>/public/css/poll.css?ver=<?php echo filemtime('<?= BASE_URL ?>/public/css/poll.css');?>" type="text/css" rel="stylesheet">

<h2> Create a New Poll </h2>
<form method="POST" action="<?= BASE_URL ?>/newpoll_submit">

 <div class="form-group">
   <label for="title">Title:</label>
   <input class="form-control" id="comment" type="text" name="title">
 </div>

 <div class="form-group">
  <label for="options">Options:</label>
  <input class="form-control"  id="options" placeholder="Option 1, Option 2, Option 3, ..." name="options"></input>
</div>

   <button type="submit" class="btn btn-default">Create</button>
   <button id="button" type="submit" class="btn btn-primary" name="Cancel">Cancel</button>
</form>


<?php
  include_once('templateBottom.php');
?>
