<?php
  include_once('template.php');

?>

<link href="<?= BASE_URL ?>/public/css/forum.css?ver=<?php echo filemtime('<?= BASE_URL ?>/public/css/forum.css');?>" type="text/css" rel="stylesheet">

<!-- TODO: PUT THE POST BEING COMMENTED ON HERE! :) -->

Create a New Forum Post
<form method="POST" action="<?= BASE_URL ?>/newpost_submit">

 <div class="form-group">
   <label for="title">Title:</label>
   <input class="form-control" id="comment" name="title" type="text">
 </div>

 <div class="form-group">
  <label for="description">Description:</label>
  <textarea class="form-control" name="description" rows="5" id="description"></textarea>
</div>

<div class="form-group">
    <label for="tag">Tag:</label>
    <select class="form-control" name="tag" id="tag">
        <?php foreach(ForumPost::tags as $tag){ ?>
            <option value="<?php echo $tag ?>"><?php echo $tag; ?></option>
        <?php } ?>
    </select>
    <br>
  </div>

   <button type="submit" class="btn btn-default">Create</button>
</form>


<?php
  include_once('templateBottom.php');
?>
