<?php
include_once('template.php');

?>

<link href="<?= BASE_URL ?>/public/css/calendar.css?ver=<?php echo filemtime('<?= BASE_URL ?>/public/css/calendar.css');?>" type="text/css" rel="stylesheet">

<h2>Create a Calendar Event</h2>
<div id="error_box" style="display:none;" class='alert alert-danger' role='alert'><p id="notifyTime"></p></div>
 <form method="POST" action="<?= BASE_URL ?>/newevent_submit">
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" id="title" type="text" name="title">
  </div>
  <div class="form-group time-group">
    <label for="startTime">Start Time</label>
    <input class="form-control" id="timepicker" type="text" placeholder="00:00" name="time">
    <label class="radio-inline"><input type="radio" name="ampm" value="am">am</label>
    <label class="radio-inline"><input type="radio" name="ampm" value="pm">pm</label>
  </div>
  <div class="form-group">
    <label for="startTime">Date</label>
    <input class="form-control" id="datepicker" type="text" placeholder="yyyy-mm-dd" name="date">
  </div>
  <div class="form-group">
    <label for="location">Location</label>
    <input class="form-control" id="location" type="text" name="location" placeholder="building name">
  </div>
   <div class="form-group">
    <label for="comment">Description:</label>
    <textarea class="form-control" rows="5" id="description" name="description"></textarea>
  </div>
    <button id="submit_form" type="submit" class="btn btn-default">Create</button>
</form>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="<?= BASE_URL ?>/public/js/calendar.js"></script>
<?php
  include_once('templateBottom.php');
?>
