<?php
  include_once('template.php');

?>
<link href="<?= BASE_URL ?>/public/css/notes.css?ver=<?php echo filemtime('<?= BASE_URL ?>/public/css/notes.css');?>" type="text/css" rel="stylesheet">

		<form method="POST" action="<?= BASE_URL ?>/newnotes_submit" enctype="multipart/form-data">
            <div class="form-group">
              <label for="title">Title:</label>
              <input class="form-control" id="comment" type="text" name="title">
            </div>

            <div class="form-group">
              <label for="title">Attachment:</label>
              <input type="file" name="attached">
              <!-- <input class="form-control" id="comment" type="text"> -->
            </div>
		     <button type="submit" class="btn btn-default">Create</button>
		</form>
<?php
  include_once('templateBottom.php');

?>
