<?php
  include_once('template.php');

?>
<link href="<?= BASE_URL ?>/public/css/poll.css?ver=<?php echo filemtime('<?= BASE_URL ?>/public/css/poll.css');?>" type="text/css" rel="stylesheet">

<h2>Edit Poll</h2>
<form method="POST" action="<?= BASE_URL ?>/editpoll_submit">

<input type="hidden" name="pollId" value="<?php echo $pollId ?>">

<div class="form-group">
  <label for="startTime">Poll Status:</label>
  <label class="radio-inline"><input type="radio" name="poll_status" value="open" <?php if($poll_status == 1) echo "checked"?>>Open</label>
  <label class="radio-inline"><input type="radio" name="poll_status" value="closed" <?php if($poll_status == 0) echo "checked"?>>Closed</label>
</div>

 <div class="form-group">
   <label for="title">Title:</label>
   <input class="form-control" id="comment" type="text" name="title" value="<?php echo $title ?>">
 </div>

 <?php
 $result = '';
 for($x = 0; $x < count($options); $x++) {
     $result .= $options[$x]->get('poll_option');
     if($x < (count($options) - 1)) $result .= ", ";
  }
  ?>
 <div class="form-group">
  <label for="options">Options:</label>
  <input class="form-control" rows="10" id="options" name="options" value="<?php echo $result ?>"></input>
</div>

<button id = "button" type="submit" class="btn btn-primary">Update</button>

<button id = "button" type="submit" class="btn btn-primary" name="Cancel">Cancel</button>

<button id = "button" type="submit" class="btn btn-primary" name="Delete">Delete</button>
</form>


<?php
  include_once('templateBottom.php');
?>
