<?php
  include_once('template.php');

?>

<link href="<?= BASE_URL ?>/public/css/notes.css?ver=<?php echo filemtime('<?= BASE_URL ?>/public/css/notes.css');?>" type="text/css" rel="stylesheet">

<!-- The notes: -->
<div class="panel panel-primary">
  <div id = "heading" class="panel-heading">
    <h3 class="panel-title"><a href="<?= BASE_URL ?>/public/notes/<?php echo $filename ?>" download><?php echo $title ?></a></h3>
  </div>
  <div id = "footer" class="panel-body">Posted by: <?php echo $authorUsername ?> on <?php echo $date ?></div>
</div>

<?php

 $save_comment_action = BASE_URL."/editnotescomment_submit/".$commentId; ?>
<form method="POST" action=<?php echo $save_comment_action ?>>
 <div class="form-group">
     <input type="hidden" name="notesId" value="<?php echo $notesId ?>">
     <input type="hidden" name="commentId" value="<?php echo $comment_entry->get('id') ?>">
   <label for="title">Edit comment</label>
   <input class="form-control" id="comment" name="comment" type="text" value="<?php echo $comment ?>">
 </div>
 <button type="submit" class="btn btn-success">Update</button>

 <button type="submit" class="btn btn-warning" name="Cancel">Cancel</button>

 <button type="submit" class="btn btn-danger" name="Delete">Delete</button>
</form>


<?php
  include_once('templateBottom.php');
?>
