<?php
  include_once('template.php');

?>

<!-- TODO: PUT THE POST BEING COMMENTED ON HERE! :) -->

<?php

    if( isset($postId) ) $save_comment_action = BASE_URL."/editcomment_submit/".$commentId;
    else $save_comment_action = BASE_URL."/editnotescomment_submit/".$commentId; ?>
<form method="POST" action=<?php echo $save_comment_action ?>>
 <div class="form-group">
     <input type="hidden" name="postId" value="<?php echo $postId ?>">
      <input type="hidden" name="notesId" value="<?php echo $notesId ?>">
     <input type="hidden" name="commentId" value="<?php echo $comment_entry->get('id') ?>">
   <label for="title">Edit comment</label>
   <input class="form-control" id="comment" name="comment" type="text" value="<?php echo $comment ?>">
 </div>
 <button type="submit" class="btn btn-success">Update</button>

 <button type="submit" class="btn btn-warning" name="Cancel">Cancel</button>

 <button type="submit" class="btn btn-danger" name="Delete">Delete</button>
</form>


<?php
  include_once('templateBottom.php');
?>
