<?php
  include_once('template.php');
?>
          <script src="<?= BASE_URL ?>/public/js/forum.js"></script>


          <link href="<?= BASE_URL ?>/public/css/forum.css?ver=<?php echo filemtime('<?= BASE_URL ?>/public/css/forum.css');?>" type="text/css" rel="stylesheet">
                <!-- START CODE -->
                  <div class="row">
                    <div class="col-lg-5">
                      <h2><?php echo $group_name; ?> Forum</h2>
                    </div>
                    <div class="col-lg-3">

                      <!-- <button id = "button" type="button" class="btn btn-primary">
                        Create a Poll
                      </button> -->
                    </div>
                      <div class="col-lg-4">
                      <form action="<?= BASE_URL ?>/newpost" >
                      <button id = "button" type="submit" class="btn btn-primary addforumpost">
                        Create Forum Post
                      </button>
                      </form>
                    </div>
                </div>


                  <div class="row">
                    <div class="col-lg-7">
                      <form method="POST" action="<?= BASE_URL ?>/forumsearch">
                      <input id = "searchBar" name="search" type="text" class="form-control" aria-label="...">
                    </div>
                    <div class="col-lg-1" style="padding: 0">
                      <button id = "button" type="submit" class="btn btn-primary">
                        Search
                      </button>
                    </div>
                    </form>
                    <div class="col-lg-3" style="float: right;">
                      <div  class="input-group-btn">
                      <form id="forumsort" method="POST" action="<?= BASE_URL ?>/forumsort">
                      <button id = "filterdropdown" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <?php
                        if ($sortType == "")
                        {
                          echo 'Popularity';
                        }
                        else
                        {
                          echo $sortType;
                        }
                        ?>
                      <span class="caret"><span>
                      </button>
                      <input type="hidden" name="sortType">
                      <ul id = "dorp"class="dropdown-menu sortTypes" role = "menu" name="sortTypes">
                        <li class="dropdownoptions" value="Date"><a href="#">Date</a></li>
                        <li class="dropdownoptions" value="Popularity"><a href="#">Popularity</a></li>
                      </ul>
                    </form>
                    </div>
                  </div>
                  </div>

                  <?php
                  if($posts != null){
                        foreach($posts as $post){
                            $id = $post->get('id');
                            $title = $post->get('title');
                            $timestamp = $post->get('timestamp');
                            $authorId = $post->get('userId');
                            $description = $post->get('description');
                            $tag = $post->get('tag');
                            $ratingId = $post->get('ratingId');
                            $pinned = $post->get('pinned');

                            //convert SQL timestamp to readable date format
                            $date = Event::convertToReadableDate($timestamp);

                            //get username of author
                            $author = User::loadById($authorId);
                            $authorUsername = $author->get('username');

                            //get rating
                            $rate = Rating::loadById($ratingId);
                            $score = $rate->get('rating');

                            //get user's individual ratings
                            $user_rating = UserRating::loadByUserAndRatingId($_SESSION['userId'], $ratingId);
                            $downvoted = false;
                            $upvoted = false;
                            if($user_rating != null){
                                if($user_rating->get('vote') == 1) $upvoted = true;
                                else if ($user_rating->get('vote') == -1) $downvoted = true;
                            }
                  ?>

                  <!-- forum post -->
                  <div class="forum_post <?php if($pinned) echo 'pinned'; ?>">
                    <!-- <div class="col-lg-2">
                      <img src="..\images\portrait.png" alt="Portrait" style="width:75px;height:75px;">
                    </div> -->

                    <div class="row">
                      <div class="col-lg-10">
                        <h4><?php echo $title ?></h4>
                      </div>
                      <div class="col-lg-2">
                        <h6><?php echo $date ?></h6>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-1">
                          <!-- upvote -->
                           <?php $upvote_action = BASE_URL."/upvotepost/".$id;
                           if (!$upvoted){ ?>
                           <form action=<?php echo $upvote_action ?> >
                               <button type="submit" style="border: 0; background: transparent">
                                   <i class="fa fa-chevron-up" aria-hidden="true"></i>
                               </button>
                         </form>
                         <?php } ?>
                      </div>
                      <div class="col-lg-11">
                        <?php echo $authorUsername ?>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-1">
                           <!-- downvote -->
                           <?php $downvote_action = BASE_URL."/downvotepost/".$id;
                           if (!$downvoted){
                           ?>
                           <form action=<?php echo $downvote_action ?> >
                               <button type="submit" style="border: 0; background: transparent">
                                  <i class="fa fa-chevron-down" aria-hidden="true"></i>
                               </button>
                         </form>
                         <?php } ?>
                      </div>
                      <div class="col-lg-11">
                        <?php echo $description ?>
                      </div>
                    </div>


                    <div class="row clear-fix">
                        <div class="col-lg-12">
                            <p> Tagged under: <i><?php echo $tag ?></i></p>
                            <p> Points: <?php echo $score ?> </p>

                        <!-- View comments button -->
                        <?php $viewcomments_action = BASE_URL."/viewcomments/".$id ?>
                        <form action=<?php echo $viewcomments_action ?>>
                            <button id = "button" type="submit" class="btn btn-primary comments_button">
                                View Comments
                            </button>
                        </form>

                        <!-- Edit post button -->
                            <?php
                            if($authorId == $_SESSION['userId']){
                                $edit_action = BASE_URL."/editpost/".$id; ?>
                                <form action=<?php echo $edit_action ?> >
                                    <button type="submit" id="settings_button">
                                        <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
                                    </button>
                              </form>
                            <?php } ?>

                          <!-- Pin button -->
                          <?php if(!$pinned){
                              $pin_action = BASE_URL."/pinpost/".$id; ?>
                          <form action=<?php echo $pin_action ?>>
                              <button type="submit" id="pin_button">
                                  <i class="fa fa-thumb-tack fa-2x" aria-hidden="true"></i>
                              </button>
                          </form>
                          <?php } else {
                              $un_pin_action = BASE_URL."/unpinpost/".$id; ?>
                              <form action=<?php echo $un_pin_action ?>>
                                  <button type="submit" id="un_pin_button">
                                      <span class="fa-stack fa-lg">
                                       <i class="fa fa-thumb-tack"></i>
                                       <i class="fa fa-ban fa-stack-2x"></i>
                                     </span>
                                  </button>
                              </form>
                          <?php } ?>
                        </div>
                    </div>
                  </div>
                  <!-- end forum post -->

                  <?php
                        }
                    } else {
                        ?>
                        <p><i> There doesn't seem to be any forum posts yet. </i></p>
                        <?php
                    }
                   ?>
  <?php
    include_once('templateBottom.php');
  ?>
