<?php
  include_once('template.php');
?>

          <link href="<?= BASE_URL ?>/public/css/forum.css?ver=<?php echo filemtime('<?= BASE_URL ?>/public/css/forum.css');?>" type="text/css" rel="stylesheet">
                <!-- START CODE -->
                  <div class="row">
                    <div class="col-lg-5">
                      <h1><?php echo $group_name; ?> Forum</h1>
                    </div>
                    <div class="col-lg-3">

                      <!-- <button id = "button" type="button" class="btn btn-primary">
                        Create a Poll
                      </button> -->
                    </div>
                      <div class="col-lg-4">
                      <form action="<?= BASE_URL ?>/newpost" >
                      <button id = "button" type="submit" class="btn btn-primary addforumpost">
                        Create Forum Post
                      </button>
                      </form>
                    </div>
                </div>


                  <div class="row">
                    <div class="col-lg-8">
                      <input id = "searchBar" type="text" class="form-control" aria-label="...">
                    </div>
                    <div class="col-lg-1">
                      <button id = "button" type="button" class="btn btn-primary">
                        Search
                      </button>
                    </div>
                    <div class="col-lg-1" style="float: right;">
                      <button id = "filterdropdown" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="float: right;">
                        Date <span class="caret"><span>
                      </button>
                      <ul class="dropdown-menu" role = "menu">
                        <li><a href="#">Date</a></li>
                        <li><a href="#">Popularity</a></li>
                      </ul>
                    </div>
                  </div>

                  <?php
                  if($posts != null){
                        foreach($posts as $post){
                            $id = $post->get('id');
                            $title = $post->get('title');
                            $timestamp = $post->get('timestamp');
                            $authorId = $post->get('userId');
                            $description = $post->get('description');
                            //$ratingId = $post->get('ratingId');
                            $tag = $post->get('tag');                           //TODO Need somewhere to put tag!

                            //convert SQL timestamp to readable date format
                            $date = Event::convertToReadableDate($timestamp);

                            //get username of author
                            $author = User::loadById($authorId);
                            $authorUsername = $author->get('username');

                            //get rating
                            //$rating = Rating::loadById($ratingId);
                            //$score = $rating->get('rating');
                  ?>

                  <!-- forum post -->
                  <div class="forum_post">
                    <!-- <div class="col-lg-2">
                      <img src="..\images\portrait.png" alt="Portrait" style="width:75px;height:75px;">
                    </div> -->

                    <div class="row">
                      <div class="col-lg-10">
                        <h4><?php echo $title ?></h4>
                      </div>
                      <div class="col-lg-2">
                        <h6><?php echo $date ?></h6>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-1">
                           <img class="vote_arrows" src="<?= BASE_URL ?>/public/images/up_arrow.png" alt="Up">
                      </div>
                      <div class="col-lg-11">
                        <?php echo $authorUsername ?>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-1">
                           <img class="vote_arrows" src="<?= BASE_URL ?>/public/images/down_arrow.png" alt="Down">
                      </div>
                      <div class="col-lg-11">
                        <?php echo $description ?>
                      </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-7">
                            <p> Tagged under: <i><?php echo $tag ?></i></p>
                        </div>
                        <div class="col-lg-3">
                          <?php $viewcomments_action = BASE_URL."/viewcomments/".$id ?>
                          <form action=<?php echo $viewcomments_action ?> >
                              <button id = "button" type="submit" class="btn btn-primary comments_button">
                                View Comments
                              </button>
                        </form>
                      </div>
                        <div class="col-lg-2">
                            <?php $edit_action = BASE_URL."/editpost/".$id ?>
                            <form action=<?php echo $edit_action ?> >
                                <button type="submit" style="border: 0; background: transparent">
                                    <img class="settings_button" src="<?= BASE_URL ?>/public/images/settings.png" />
                                </button>
                          </form>
                        </div>
                    </div>
                  </div>
                  <!-- end forum post -->

                  <?php }} ?>
  <?php
    include_once('templateBottom.php');
  ?>
