<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <title>Gobbler Exchange</title>
    <!-- <script src="../../public/js/jquery.min.js"></script>
    <script src="../../public/js/bootstrap.min.js"></script>
    <script src="../../public/js/base.js"></script>
    <link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/base.css"> -->
    <script src="<?= BASE_URL ?>/public/js/jquery.min.js"></script>
    <script src="<?= BASE_URL ?>/public/js/bootstrap.min.js"></script>
    <script src="<?= BASE_URL ?>/public/js/base.js"></script>
    <link href="<?= BASE_URL ?>/public/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="<?= BASE_URL ?>/public/css/template.css?ver=<?php echo filemtime('<?= BASE_URL ?>/public/css/base.css');?>" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div id="banner">
    <div class="container">
      <div class="row">
      <!-- Website Title -->
        <div class="col-lg-4">
          <h1>
            <a class="title" href="<?= BASE_URL ?>" style="text-decoration:none"><span class="maroon">Gobbler</span></a>
            <a class="title" href="<?= BASE_URL ?>" style="text-decoration:none"><span class="orange">Exchange</span></a>
          </h1>
        </div>

        <!-- Sign in/out -->
        <form method="POST" action="postlogin">
        <div class="col-lg-5" style="float: right; margin-top: 20px">
          <button id = "signout" type="submit" class="btn btn-primary" style="float: right; margin-top: 0">
              Login
          </button>
          <div class="col-lg-5">
            <input name="userlogin" id = "searchBar" type="text" class="form-control" placeholder="Username" aria-label="...">
          </div>
          <div class="col-lg-5">
            <input name="passlogin" id = "searchBar" type="password" class="form-control" placeholder="Password" aria-label="...">
          </div>
          <h6 style="float: left; margin-left: 15px;">Already have an account? Sign in here!</h6>
        </div>
        </form>
      </div>

      <!-- Other Stuff -->
      <div style="float: left;">
        <img src="<?= BASE_URL ?>\public\images\vatech.png" alt="VA Tech" style="margin-top: 60px;width:500px;height:250px;">
      </div>

      <!-- Registration -->
      <div style="float: right;width:640px;">
        <div class="row" style="margin-top: 60px;margin-right: 60px;">
        <div class="col-xs-8 col-sm-8 col-md-8" style="float: right;">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">New to Gobbler Exchange? Create an account to get access to all of these features!</h3>
            </div>
            <div class="panel-body">
              <?php
                  if(isset($_SESSION['error']))
                  {
                    if($_SESSION['error'] != '')
                    {
                      echo "<div class='alert alert-danger' role='alert'>".$_SESSION['error']."</div>";
                      $_SESSION['error'] = '';
                    }
                  }
                ?>
              <form method="POST" action="register" role="form">
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
                </div>

                <div class="form-group">
                  <input type="username" name="username" id="username" class="form-control input-sm" placeholder="Username">
                </div>

                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
                    </div>
                  </div>
                </div>

                <input type="submit" value="Register" class="btn btn-info btn-block" style="background-color: #660000;">

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
    </div>
  </body>
</html>
