<?php
  include_once('template.php');
?>

<link href="<?= BASE_URL ?>/public/css/comment.css?ver=<?php echo filemtime('<?= BASE_URL ?>/public/css/comment.css');?>" type="text/css" rel="stylesheet">

<link href="<?= BASE_URL ?>/public/css/notes.css?ver=<?php echo filemtime('<?= BASE_URL ?>/public/css/notes.css');?>" type="text/css" rel="stylesheet">

<!-- The notes: -->
<div class="panel panel-primary">
  <div id = "heading" class="panel-heading">
    <h3 class="panel-title"><a href="<?= BASE_URL ?>/public/notes/<?php echo $filename ?>" target="_blank"><?php echo $title ?></a></h3>
  </div>
  <div id = "footer" class="panel-body">Posted by: <?php echo $authorUsername ?> on <?php echo $date ?></div>
</div>

<?php $newcomment_action = BASE_URL."/newnotescomment"?>
<form action=<?php echo $newcomment_action ?> >
    <input type="hidden" name="notesId" value="<?php echo $notesId ?>">
    <button id = "ncbutton" type="submit" class="btn btn-primary">
      New Comment
    </button>
</form>

<!-- Comments: -->
<div id = "comment">
<h4> Comments: </h4>

      <?php
                  if($comments != null){
                        foreach($comments as $comment){
                            $commentId = $comment->get('id');
                            $commenterId = $comment->get('userId');
                            $commenter = User::loadById($commenterId);
                            $commenterUsername = $commenter->get('username');

                            $commenttimestamp = $comment->get('timestamp');
                            $commentdate = Event::convertToReadableDate($commenttimestamp);

                            $text = $comment->get('comment');
                  ?>

                  <div class="panel panel-default">
                      <div class="panel-body">
                          <?php echo $text ?>
                      </div>
                      <div class="panel-footer clearfix">
                          <span style="float:left">Posted by: <?php echo $commenterUsername ?> on <?php echo $commentdate ?></span>
                          <span style="float:right">
                              <!-- edit comment button -->
                              <?php
                              if($commenterId == $_SESSION['userId']){
                                  $edit_action = BASE_URL."/editnotescomment/".$commentId ?>
                              <form method="POST" action=<?php echo $edit_action ?>>
                                  <input type="hidden" name="notesId" value="<?php echo $notesId ?>">
                                  <button type="submit" id="settings_button">
                                      <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
                                  </button>
                            </form>
                            <?php } ?>
                          </span>
                      </div>
                 </div>


                  <?php
                        }
                    } else {
                        ?>
                        <p><i> There doesn't seem to be any comments yet. </i></p>
                        <?php
                    }
                   ?>
  </div>
  <?php
    include_once('templateBottom.php');
  ?>
