<?php
  include_once('template.php');

?>
					<!-- So the idea here is that all of these tags will be filled in and could keep going as long as we want to display stuff, like an arraylist in Java, not sure what needs to be done for that. -->
<link href="<?= BASE_URL ?>/public/css/notes.css?ver=<?php echo filemtime('<?= BASE_URL ?>/public/css/notes.css');?>" type="text/css" rel="stylesheet">
<div class="row">
    <div class="col-lg-6">
            <h2>Notes</h2>
    </div>
    <!-- add note button -->
    <div class="col-lg-6">
		<a href="<?= BASE_URL ?>/newnotes">
			<button id = "addNote" type="button" class="btn btn-primary">
				Add Note
			</button>
		</a>
    </div>
</div>


<div>
    <?php
    if($notes != null){
          foreach($notes as $note){
                $id = $note->get('id');
                $title = $note->get('title');
                $authorId = $note->get('userId');
                $author = User::loadById($authorId);
                $authorUsername = $author->get('username');
                $timestamp = $note->get('timestamp');
                $date = Event::convertToReadableDate($timestamp);
                $filename =$note->get('link');
                $ratingId = $note->get('ratingId');

                //get rating
                $rate = Rating::loadById($ratingId);
                $score = $rate->get('rating');

                //get user's individual ratings
                $user_rating = UserRating::loadByUserAndRatingId($_SESSION['userId'], $ratingId);
                $downvoted = false;
                $upvoted = false;
                if($user_rating != null){
                    if($user_rating->get('vote') == 1) $upvoted = true;
                    else if ($user_rating->get('vote') == -1) $downvoted = true;
                }
              ?>
        <div class="row">
          <div class="col-lg-10">
            <h4><a href="<?= BASE_URL ?>/public/notes/<?php echo $filename ?>" target="_blank"><?php echo $title ?></a></h4>
          </div>
          <div  class="col-lg-2">
            <h6><?php echo $date ?></h6>
          </div>
        </div>



        <!-- upvote -->
        <div class="row">
          <div class="col-lg-1">
              <?php $upvote_action = BASE_URL."/upvotenotes/".$id;
             if (!$upvoted){ ?>
             <form action=<?php echo $upvote_action ?> >
                 <button type="submit" style="border: 0; background: transparent">
                     <i class="fa fa-chevron-up" aria-hidden="true"></i>
                 </button>
           </form>
           <?php } ?>
          </div>
          <div class="col-lg-11">
          </div>
        </div>


        <!-- downvote -->
        <div class="row">
          <div class="col-lg-1">
            <?php $downvote_action = BASE_URL."/downvotenotes/".$id;
            if (!$downvoted){
            ?>
            <form action=<?php echo $downvote_action ?> >
                <button type="submit" style="border: 0; background: transparent">
                   <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
            </form>
            <?php } ?>
          </div>
          <div class="col-lg-11">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <?php echo $authorUsername ?>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2">
            <p> Points: <?php echo $score ?> </p>
          </div>
        <!-- edit button -->
          <div class="col-lg-6">
          </div>
          <div class="col-lg-1">
            <?php
            if($authorId == $_SESSION['userId']){
                $edit_action = BASE_URL."/editnotes/".$id ?>
            <form action=<?php echo $edit_action ?> >
                <button type="submit" style="border: 0; background: transparent">
                            <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
                </button>
            </form>
            <?php } ?>
          </div>
          <div class="col-lg-2">
            <?php $edit_action = BASE_URL."/viewnotescomments/".$id ?>
            <form action=<?php echo $edit_action ?> >
                <button id = "button" type="submit" class="btn btn-primary">
                    View Comments
                </button>
            </form>
          </div>
          <div class="col-lg-1">
          </div>

        </div>
<hr id = "break"></hr>
    <?php
          }
      } else {
          ?>
          <p><i> There doesn't seem to be any notes posted yet. </i></p>
          <?php
      }
     ?>

 </div>
         <!-- I'm thinking maybe 4 notes here at maximum until they press more -->
		<!-- <div class="col-lg-2" style="text-align: center;">
			<button id = "button" type="button" class="btn btn-primary">
				Show More Notes
			</button>
		</div> -->
<?php
include_once('templateBottom.php');

?>
