<?php
  include_once('template.php');
?>

<link href="<?= BASE_URL ?>/public/css/poll.css?ver=<?php echo filemtime('<?= BASE_URL ?>/public/css/poll.css');?>" type="text/css" rel="stylesheet">



<div class="row">
    <div class="col-lg-8">
        <h2> Polls </h2>
    </div>
    <div class="col-lg-4">
        <form action="<?= BASE_URL ?>/newpoll" >
        <button id = "button" type="submit" class="btn btn-primary newpoll">
          Create New Poll
        </button>
        </form>
    </div>
</div>
<br>
  <?php
  if($polls != null){
        foreach($polls as $poll){

            $id = $poll->get('id');
            $title = $poll->get('title');
            $timestamp = $poll->get('timestamp');
            $options = $poll->getPollOptions();
            $authorId = $poll->get('userId');
            $open = $poll->get('isOpen');

            //convert SQL timestamp to readable date format
            $date = Event::convertToReadableDate($timestamp);

            //get username of author
            $author = User::loadById($authorId);
            $authorUsername = $author->get('username');
  ?>

  <form method="POST" action="<?= BASE_URL ?>/vote">
      <div class="panel panel-primary">
          <div  id = "heading" class="panel-heading">
              <h3class="panel-title"><?php echo $title ?> <?php if(!$open) echo "[CLOSED]" ?> </h3>
          </div>
          <div id = "body" class="panel-body">
              <input type="hidden" name="pollId" value="<?php echo $id ?>">
              <?php
              if($options != null){
                foreach($options as $opt){
                    $optId = $opt->get('id');
                    $optStr = $opt->get('poll_option');

                    $userVote = UserPollOption::loadByPollOptionAndUser($optId, $_SESSION['userId']);
                    $select = false;
                    if($userVote != null){
                        $select = true;
                    }

                    ?>
                    <input type="radio" value="<?php echo $optStr ?>" name="polloption" <?php if($select) echo 'checked="checked"' ?>><?php echo $optStr ?><br>
                    <?php }} ?>
                    <button type="submit" class="btn btn-default" <?php if(!$open) echo "disabled" ?> >Submit</button>  </form>
          </div>
          <div id = "footer" class="panel-footer">Posted by: <?php echo $authorUsername ?> on <?php echo $date ?>
              <?php $edit_action = BASE_URL."/editpoll/".$id ?>
              <form id="edit_button_form" action=<?php echo $edit_action ?>>
                  <button class="settings_button" type="submit">
                      <img class="settings_img" src="<?= BASE_URL ?>/public/images/settings.png" />
                  </button>
            </form>
            <div class="clearfix"></div>
          </div>
      </div>


      <?php
            }
        } else {
            ?>
            <p><i> There doesn't seem to be any polls open. </i></p>
            <?php
        }
       ?>

  <?php
    include_once('templateBottom.php');
  ?>
