<?php
  include_once('template.php');
?>

<link href="<?= BASE_URL ?>/public/css/poll.css?ver=<?php echo filemtime('<?= BASE_URL ?>/public/css/poll.css');?>" type="text/css" rel="stylesheet">



<div class="row">
    <div class="col-lg-8">
        <h2> Polls </h2>
    </div>
    <div class="col-lg-4">
        <!-- new poll button -->
        <form action="<?= BASE_URL ?>/newpoll" >
        <button id = "button" type="submit" class="btn btn-primary newpoll">
          Create New Poll
        </button>
        </form>
    </div>
</div>
<br>
  <?php
  if($polls != null){
        foreach($polls as $poll){

            $id = $poll->get('id');
            $title = $poll->get('title');
            $timestamp = $poll->get('timestamp');
            $options = $poll->getPollOptions();
            $authorId = $poll->get('userId');
            $open = $poll->get('isOpen');

            //convert SQL timestamp to readable date format
            $date = Event::convertToReadableDate($timestamp);

            //get username of author
            $author = User::loadById($authorId);
            $authorUsername = $author->get('username');
  ?>

  <form method="POST" action="<?= BASE_URL ?>/vote">
      <div class="panel panel-primary">
          <div  id = "heading" class="panel-heading">
              <h3class="panel-title"><?php echo $title ?> <?php if(!$open) echo "[CLOSED]" ?> </h3>
          </div>



          <!-- poll options (poll body) -->
          <div id = "voting_options_<?php echo $id ?>" class="panel-body">
              <input type="hidden" name="pollId" value="<?php echo $id ?>">
              <?php
              if($options != null){
                foreach($options as $opt){
                    $optId = $opt->get('id');
                    $optStr = $opt->get('poll_option');

                    $userVote = UserPollOption::loadByPollOptionAndUser($optId, $_SESSION['userId']);
                    $select = false;
                    if($userVote != null){
                        $select = true;
                    }

                    ?>
                    <input type="radio" value="<?php echo $optStr ?>" name="polloption" <?php if($select) echo 'checked="checked"'; ?>><?php echo $optStr ?>

                    <!-- Button appears next to poll selection so you can remove it rather than change your answer -->
                    <?php if($select){
                        $remove_action = BASE_URL."/clear_response/".$optId; ?>
                        <button id="delete_button" type="button" onclick="removeResponse('<?php echo $remove_action; ?>')">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    <?php } ?>
                    <br>

                <?php }} ?>
                <button type="submit" class="btn btn-default" <?php if(!$open) echo "disabled" ?> >Submit</button>  </form>
          </div>
          <!-- END: poll options (poll body) -->


          <!-- Alternative poll body (results) -->
          <div id="results_<?php echo $id ?>" style="display:none;">
              <table class="table">
                  <thead>
                      <tr>
                        <th>Poll Option</th>
                        <th>Number of Votes</th>
                      </tr>
                  </thead>
                  <tbody>

                    <?php
                            //get array with # of votes for each poll option
                            $votes = array();
                            if($options != null){
                                foreach($options as $opt){
                                    array_push($votes, UserPollOption::getTotalVotesByPollOptionId($opt->get('id')));
                                }
                            }

                            for($i = 0; $i < count($votes); $i++){
                              $option = $options[$i];
                              $vote_count = $votes[$i];

                    ?>
                        <tr>
                          <td><?php echo $option->get('poll_option'); ?></td>
                          <td><?php echo $vote_count; ?></td>
                        </tr>
                   <?php } ?>
               </tbody>
              </table>
          </div>
          <!--END: Alternative poll body (results) -->

          <!-- POLL FOOTER  -->
          <div id = "footer" class="panel-footer">Posted by: <?php echo $authorUsername ?> on <?php echo $date ?>

              <button id="resultsBtn_<?php echo $id ?>" class="btn btn-results" type="button">View Results</button>
              <button id="optionsBtn_<?php echo $id ?>" class="btn btn-options" type="button" style="display:none;">View Poll Options</button>

              <!-- edit poll button -->
              <?php
              if($authorId == $_SESSION['userId']){
                  $edit_action = BASE_URL."/editpoll/".$id ?>
              <form id="edit_button_form" action=<?php echo $edit_action ?>>
                  <button type="submit" style="border: 0;background: transparent;">
                    <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
                  </button>
              </form>
              <?php } ?>
            <div class="clearfix"></div>
          </div>
          <!-- END POLL FOOTER  -->
      </div>


      <?php
            }
        } else {
            ?>
            <p><i> There doesn't seem to be any polls open. </i></p>
            <?php
        }
       ?>
<script type="text/javascript" src="<?= BASE_URL ?>/public/js/poll.js"></script>
  <?php
    include_once('templateBottom.php');
  ?>
