<?php
  include_once('template.php');
?>

<!-- <body> -->
   <h2>Search Results</h2>
    <div class="row">
      <div class="col-sm-3">Course</div>
      <?php if($type == "crn"){?><div class="col-sm-3">CRN</div><?php } ?>
    </div>

<?php if($results != null){
    foreach($results as $result){
        $groupId = $result->get('id');
        $groupname = $result->get('group_name');
        $number = $result->get('number');
        ?>
  <div class="row">
      <div class="col-sm-3"></div> <br>
      <div class="col-sm-3"><h4><?php echo $groupname ?></h4></div>
      <?php if($number != 0){?><div class="col-sm-3"><h4><?php echo $number ?></h4></div>
      <?php } else{ ?><div class="col-sm-3"></div>
      <?php } ?>
      <div class="col-sm-3">
          <?php
          If (!UserGroup::isUserInGroup($_SESSION['userId'], $groupId)){
              $action = BASE_URL."/joingroup/".$groupId; ?>
              <form action=<?php echo $action ?> >
                  <button id = "button" type="submit" class="btn btn-primary" aria-label="Left Align">Join</button>
            </form>
          <?php } else {
              $action = BASE_URL."/leavegroup/".$groupId; ?>
              <form action=<?php echo $action ?> >
                  <button id = "button" type="submit" class="btn btn-primary" aria-label="Left Align">Leave</button>
            </form>
          <?php } ?>

      </div>
    </div>
    <?php }} ?>
<!-- </body> -->
<?php
  include_once('templateBottom.php');
?>
