<?php
  include_once('template.php');
?>

                    <!-- <body> -->
                       <h2>Search Results</h2>
                        <div class="row">
                          <div class="col-sm-3">Course</div>
                          <div class="col-sm-3">CRN</div>
                          <div class="col-sm-3"></div> <br>
                          <div class="col-sm-3"><h4>CS 4704</h4></div>
                          <div class="col-sm-3"><h4>12624</h4></div>
                          <div class="col-sm-3"><button id = "button" type="button" class="btn btn-primary"   aria-label="Left Align">Join</button>
                          </div>
                        </div>
                    <!-- </body> -->
<?php
  include_once('templateBottom.php');
?>
