<?php
  include_once('template.php');

?>

<!-- pretend all the template code is above -->
<h1> Welcome To Gobbler Exchange </h1>  <!-- Put forum, notes, whiteboard, calendar, etc. here -->

<h4> Looks like you're not in any groups! <br>Get started by searching for a group to join or create one yourself!</h4>
<br>
<b>Tips:</b>
<p> &middot; When searching for a group, use the dropdown to search via group name, or crn if it's a class</p>
<p> &middot; If you search with an empty query, you'll get to see all of the groups on this site</p>
<p> &middot; If you can't find a group you're looking for, create it yourself! </p>

<?php
  include_once('templateBottom.php');
?>
