Options -Indexes

RewriteEngine on

# ErrorDocument 404 /app/controller/error.php

# Site
RewriteRule ^$ app/controller/SiteController.php?action=home [QSA,L]
RewriteRule ^login/?$ app/controller/SiteController.php?action=login [QSA,L]
RewriteRule ^signup/?$ app/controller/SiteController.php?action=signup [QSA,L]
RewriteRule ^postlogin/?$ app/controller/SiteController.php?action=postlogin [QSA,L]
RewriteRule ^register/?$ app/controller/SiteController.php?action=register [QSA,L]
RewriteRule ^logout/?$ app/controller/SiteController.php?action=logout [QSA,L]
RewriteRule ^jsontable/?$ app/controller/SiteController.php?action=jsontable [QSA,L]


# Group
RewriteRule ^viewgroup/?$ app/controller/GroupController.php?action=viewgroup [QSA,L]
RewriteRule ^viewgroup/(\d+)/?$ app/controller/GroupController.php?action=viewgroup [QSA,L]
RewriteRule ^chat/?$ app/controller/GroupController.php?action=chat [QSA,L]
RewriteRule ^newgroup/?$ app/controller/GroupController.php?action=newGroup [QSA,L]
RewriteRule ^newgroup_submit/?$ app/controller/GroupController.php?action=newGroup_submit [QSA,L]
RewriteRule ^search/?$ app/controller/GroupController.php?action=search [QSA,L]

# Forum
RewriteRule ^forum/?$ app/controller/ForumController.php?action=forum [QSA,L]
RewriteRule ^editpost/?$ app/controller/ForumController.php?action=editpost&postId=0 [QSA,L]
RewriteRule ^editpost/(\d+)/?$ app/controller/ForumController.php?action=editpost&postId=$1 [QSA,L]
RewriteRule ^editpost_submit/?$ app/controller/ForumController.php?action=editpost_submit [QSA,L]
RewriteRule ^newpost/?$ app/controller/ForumController.php?action=newpost [QSA,L]
RewriteRule ^newpost_submit/?$ app/controller/ForumController.php?action=newpost_submit [QSA,L]
RewriteRule ^deletepost/?$ app/controller/ForumController.php?action=deletepost [QSA,L]

# Calendar
RewriteRule ^calendar/?$ app/controller/CalendarController.php?action=calendar [QSA,L]
RewriteRule ^editevent/?$ app/controller/CalendarController.php?action=editEvent&eventId=0 [QSA,L]
RewriteRule ^editevent/(\d+)/?$ app/controller/CalendarController.php?action=editEvent&eventId=$1 [QSA,L]
RewriteRule ^editevent_submit/?$ app/controller/CalendarController.php?action=editEvent_submit [QSA,L]
RewriteRule ^newevent/?$ app/controller/CalendarController.php?action=newEvent [QSA,L]
RewriteRule ^newevent_submit/?$ app/controller/CalendarController.php?action=newEvent_submit [QSA,L]
RewriteRule ^deleteevent/?$ app/controller/CalendarController.php?action=deleteEvent [QSA,L]

# Poll
RewriteRule ^polls/?$ app/controller/PollController.php?action=polls [QSA,L]
RewriteRule ^editpoll/?$ app/controller/PollController.php?action=editpoll&pollId=0 [QSA,L]
RewriteRule ^editpoll/(\d+)/?$ app/controller/PollController.php?action=editpoll&pollId=$1 [QSA,L]
RewriteRule ^editpoll_submit/?$ app/controller/PollController.php?action=editpoll_submit [QSA,L]
RewriteRule ^newpoll/?$ app/controller/PollController.php?action=newpoll [QSA,L]
RewriteRule ^newpoll_submit/?$ app/controller/PollController.php?action=newpoll_submit [QSA,L]
RewriteRule ^vote/?$ app/controller/PollController.php?action=vote [QSA,L]
RewriteRule ^deletepoll/?$ app/controller/PollController.php?action=deletepoll [QSA,L]

# Notes
RewriteRule ^notes/?$ app/controller/NotesController.php?action=notes [QSA,L]
RewriteRule ^editnotes/?$ app/controller/NotesController.php?action=editnotes&notesId=0 [QSA,L]
RewriteRule ^editnotes/(\d+)/?$ app/controller/NotesController.php?action=editnotes&notesId=$1 [QSA,L]
RewriteRule ^editnotes_submit/?$ app/controller/NotesController.php?action=editnotes_submit [QSA,L]
RewriteRule ^newnotes/?$ app/controller/NotesController.php?action=newnotes [QSA,L]
RewriteRule ^newnotes_submit/?$ app/controller/NotesController.php?action=newnotes_submit [QSA,L]
RewriteRule ^deletenotes/?$ app/controller/NotesController.php?action=deletenotes [QSA,L]

# Comment
RewriteRule ^viewcomments/?$ app/controller/CommentController.php?action=viewcomments&postId=0 [QSA,L]
RewriteRule ^viewcomments/(\d+)/?$ app/controller/CommentController.php?action=viewcomments&postId=$1 [QSA,L]
RewriteRule ^viewnotescomments/?$ app/controller/CommentController.php?action=viewnotescomments&notesId=0 [QSA,L]
RewriteRule ^viewnotescomments/(\d+)/?$ app/controller/CommentController.php?action=viewnotescomments&notesId=$1 [QSA,L]

RewriteRule ^newpostcomment/?$ app/controller/CommentController.php?action=newpostcomment [QSA,L]
RewriteRule ^newpostcomment_submit/?$ app/controller/CommentController.php?action=newpostcomment_submit [QSA,L]
RewriteRule ^newnotescomment/?$ app/controller/CommentController.php?action=newnotescomment [QSA,L]
RewriteRule ^newnotescomment_submit/?$ app/controller/CommentController.php?action=newnotescomment_submit [QSA,L]
RewriteRule ^editcomment/?$ app/controller/CommentController.php?action=editcomment [QSA,L]
RewriteRule ^editcomment_submit/?$ app/controller/CommentController.php?action=editcomment_submit [QSA,L]
RewriteRule ^deletecomment/?$ app/controller/CommentController.php?action=deletecomment [QSA,L]

# Rating
RewriteRule ^upvotepost/?$ app/controller/RatingController.php?action=upvotepost&postId=0 [QSA,L]
RewriteRule ^upvotepost/(\d+)/?$ app/controller/RatingController.php?action=upvotepost&postId=$1 [QSA,L]
RewriteRule ^downvotepost/?$ app/controller/RatingController.php?action=downvotepost&postId=0 [QSA,L]
RewriteRule ^downvotepost/(\d+)/?$ app/controller/RatingController.php?action=downvotepost&postId=$1 [QSA,L]
RewriteRule ^upvotenotes/?$ app/controller/RatingController.php?action=upvotenotes&notesId=0 [QSA,L]
RewriteRule ^upvotenotes/(\d+)/?$ app/controller/RatingController.php?action=upvotenotes&notesId=$1 [QSA,L]
RewriteRule ^downvotenotes/?$ app/controller/RatingController.php?action=downvotenotes&notesId=0 [QSA,L]
RewriteRule ^downvotenotes/(\d+)/?$ app/controller/RatingController.php?action=downvotenotes&notesId=$1 [QSA,L]
