
#addEvent{
  background-color: #660000;
  color: white;
  position: relative;
  margin-top: 20px;
  float: right;
  border-color: white;
}

#pastEvents{
  background-color: #660000;
  color: white;
  position: relative;
  margin-top: 20px;
  float: right;
  border-color: white;
  margin-right:5px;
}

#filter{
  float: right;
  position: relative;
  margin-top: 50px;
  margin-bottom: 10px;
}
#filterdd a{
  background-color: white;
  color: black;
}

#month{
  width: 200px;
}

.settings_img {
    width:30px;
    height:30px;
}

.settings_button {
    border: 0;
    background: transparent;
}

#edit_button_form{
    float:right;
}

#heading{
  color: white;
  background-color: #660000;
}
#body{

}

#footer{
  background: rgba(204,204,204,0.5);
}

#calendar a{
  background-color: #ff6600;
}
.panel-primary{
    border-color: black;
}
