/* start forum post */
.forum_post {
    padding:10px;
    border-bottom: 1px solid #ccc;
}

.vote_arrows {
    width:30px;
    height:30px;
    float: left;
}

#settings_button {
    width:30px;
    height:30px;
    border: 0;
    background: transparent;
    float: right;
    margin-left: 5px;
    margin-right:5px;
}

#pin_button{
    width:30px;
    height:30px;
    border: 0;
    background: transparent;
    float: right;
    margin-left: 5px;
    margin-right:5px;
}

.comments_button {
    float: right;
    margin-left: 5px;
    margin-right:5px;
}

.pinned {
    border-left: 6px solid #ff6600;
    background-color: rgba(255, 102, 0, 0.19);
    margin-top: 10px;
}


/* end forum post */

#filterdropdown {
    float:right;
}

#forum a{
  background-color: #ff6600;
}

#dorp>li>a{
  color: black;
  background-color: white;

}

.right_column {
    float:right;
}

.left_squish {
  padding-left: 0px;
}

.right_squish {
  padding-right: 0px;
}


/*.addforumpost{
  float:left;
  /*color: red;*/
}*/
form{
  all: none;
}
