/* start forum post */
.forum_post {
    padding:10px;
    border-bottom: 1px solid #ccc;
}

.vote_arrows {
    width:30px;
    height:30px;
    float: left;
}

.settings_button {
    width:30px;
    height:30px;
}

.settings_button {
    border: 0;
    background: transparent;
}

.comments_button {
    
}
/* end forum post */

#filterdropdown {
    float:right;
}

.dropdown-menu {

}

.right_column {
    float:right;
}

.left_squish {
  padding-left: 0px;
}

.right_squish {
  padding-right: 0px;
}

/*.addforumpost{
  float:left;
  /*color: red;*/
}*/
form{
  all: none;
}
