.settings_button {
    width:30px;
    height:30px;
    border: 0;
    background: transparent;
}
#notes a{
  background-color: #ff6600;
}

#view{
    background-color: #660000;
}

#titlef a{
    background:transparent;
    color:black;
}
#titlef a:hover{
    background:transparent;
    color:black;
}

#titlef a:focus{
    background:transparent;
    color:black;
}
#ncbutton{
    float: right;
    background-color: #660000
}

#comment{
    margin-top: 50px;
}

#heading{
  color: white;
  background-color: #660000;
}

.panel-primary{
    border-color: white;
}

#addNote{
    background-color: #660000;
    color: white;
    float: right;
    border-color: white;
    margin-top: 25px;
}