#polls a{
  background-color: #ff6600;
}

.newpoll{
    float:right;
}

.settings_img {
    width:30px;
    height:30px;
}

#delete_button {
    border: 0;
    background: transparent;
}

#edit_button_form{
    float:right;
}
#heading{
  color: white;
  background-color: #660000;
}

#footer{
  background: rgba(204,204,204,0.5);
}

.panel-primary{
    border-color: black;
}

#optionsButton{
  background-color: #660000;
  border-color: black;
}

.btn-results {
    background-color: #660000;
    color: white;
    float: right;
}

.btn:hover {
    color:white;
}

.btn-options {
    background-color: #660000;
    color: white;
    float: right;
}
