#polls a{
  background-color: #ff6600;
}

.newpoll{
    float:right;
}

.settings_img {
    width:30px;
    height:30px;
}

.settings_button {
    border: 0;
    background: transparent;
}

#delete_button {
    border: 0;
    background: transparent;
}

#edit_button_form{
    float:right;
}
#heading{
  color: white;
  background-color: #660000;
}
#body{

}

#footer{
  background: rgba(204,204,204,0.5);
}

.panel-primary{
    border-color: black;
}

#optionsButton{
  background-color: #660000;
  border-color: black;
}

#view_results_form {
    float:right;
}

#results_button {
    background-color: #660000;
    color: white;
}
