
<html>
  <head>
    {{ template "std_header" }}
<style>
    .chatmsg {
	padding: 2px;
	margin-bottom: 2px;
    }
    .chatblock {
	margin-top: 10;
	background-color: lightgray;
    }
    .from_me {
	background-color: #ff9c47;
    }

    .name_sender {
	padding: 2px;
	font-size: x-small;
    }
</style>
</head>


<body>
      
    <div class="container card" style="height: 100%;">
    <div>

    <div class="row">
    <div class="col-4">
    <p>
    {{ .User.DisplayName }}
    </p>
    </div>
    <div class="col-8">
      <select class="form-control" id="topic_select">
	{{range .User.AvailableTopics }}
	<option value="{{ .}}">{{.}}</option>
	{{end}}
      </select>
    </div>
    </div>
    </div>
	<div id="chat" style="overflow-y: scroll; height: 100%; margin-bottom: 25px;">

	</div>
	<input id="sender" class="form-control input-lg" placeholder="enter message">
      </div>



    <script type="text/javascript">
      var key = {{ .Key }};

      var gobbler = gobbler_realtime(key, "{{ .User.DisplayName }}"); 


last_message = {
    author: "",
    div : null,
    footer: null
}

function reset(){
    $("#chat").empty();
    last_message = {
	author: "",
	div : null,
	footer: null
    }
}
    var colorf = function(){
	colors = ['blue', 'red', 'yellow', 'green'];
	curr = 0;
	setInterval(function(){
			$(".fun").css({'color': colors[curr]});
			curr += 1;
			curr = curr % colors.length;
	}, 50);
    }();

function renderMessage(message) {
    var sender = message.SenderName
    var txt = message.Content

    if(txt == "!clear"){
	reset();
    }

    if(txt.startsWith("!alert")){
	alert(txt.replace('!alert', '')+" - "+sender);
	return;
    }


    var new_msg = $("</p>").text(txt)

    if(txt.startsWith("!fun")){
	new_msg.addClass('fun');
	new_msg.text(txt.replace("!fun", ""));
    }
	
    new_msg.addClass("chatmsg")

    
    if(last_message.author == message.SenderName){
	last_message.div.append(new_msg)
    } else {
	var newdiv = $("<div/>")
	var message_div = $("<div/>")
	newdiv.addClass("card")
	newdiv.addClass("chatblock")
	newdiv.append(message_div)

	sender_info = $("<div/>")
	sender_info.addClass("card-footer text-muted")
	sender_info.addClass("name_sender")
	sender_info.text(sender)
	newdiv.append(sender_info)
	
	last_message.author = message.SenderName
	last_message.div = message_div
	last_message.footer = sender_info
	console.log("rendering.");
	$("#chat").append(newdiv)
	message_div.append(new_msg)

	if(sender == "{{ .User.DisplayName }}"){
	    newdiv.addClass("from_me")
	}
    }

    now = new Date()
    sent = new Date(message.SentTime)
    if (now.toDateString() == sent.toDateString()) {
	// then it was sent today..
	last_message.footer.text(sender+" "+sent.toLocaleTimeString())
    } else {
	last_message.footer.text(sender+" "+new Date(message.SentTime).toLocaleString())
    }
  //  newdiv.addClass("card-block")


    $("#chat").each( function() 
		       {
			   // certain browsers have a bug such that scrollHeight is too small
			   // when content does not fill the client area of the element
			   var scrollHeight = Math.max(this.scrollHeight, this.clientHeight);
			   this.scrollTop = scrollHeight - this.clientHeight;
		       });
}

$('#sender').keypress(function (e) {
    if (e.which == 13) {
	sendMessage();
	$("#sender").val("")
	return false;    //<---- Add this line
  }
});



function joinTopic(topic) {
    reset();
    gobbler.setOnMessage(renderMessage);
    gobbler.joinTopic(topic);
    sendMessage = function(){
	var content = $("#sender").val();
	gobbler.sendMessageContent(content);
    }
}

$(function(){
    joinTopic("all");
    $("#topic_select").change(function(){
	joinTopic($("#topic_select").val());
    });
})
				 </script>
</body>
